h1 {
  font-family: "Gilroy";
  color: #4c81eb;
  font-size: 10rem;
}

p {
  font-size: 4rem;
  font-family: "Andis";
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

a.btn {
  border-radius: 100px;
  background-color: #4c81eb;
  color: #f5f5f5;
  font-family: "Gilroy";
  padding: 2.5rem 4rem;
  border: 2px solid #4c81eb;
  transition: all 1s ease;
}

a.btn:hover {
  background: transparent;
  color: #4c81eb;
}

@media (max-width: 540px) and (min-width: 400px){
  h1 {
    font-size: 5rem !important;
  }
  p {
    font-size: 2rem;
  }
  a.btn {
    padding: 2rem 3rem;
  }
}
