h1 {
  font-family: "Gilroy";
  color: #4c81eb;
  font-size: 10rem;
}

p {
  font-size: 4rem;
  font-family: "Andis";
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

@media (max-width: 540px) and (min-width: 400px){
  h1 {
    font-size: 5rem !important;
  }
}
