html {
  overflow-x: hidden;
}


h1 {
  font-family: "Gilroy";
  color: #4c81eb;
  /*font-size: 10rem;*/
}

p {
  font-family: "Andis";
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

a.btn {
  border-radius: 100px;
  background-color: #4c81eb;
  color: #f5f5f5;
  font-family: "Gilroy";
  padding: 2.5rem 4rem;
  border: 2px solid #4c81eb;
  display: inline-block;
  margin-top: 3rem;
  transition: all 1s ease;
}

a.btn:hover {
  background: transparent;
  color: #4c81eb;
}

footer {
  color: #AAAAAA;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-family: "Gilroy";
  right: 5%;
  bottom: 5%;
}

footer a {
  color: #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer a:hover {
  color: #4c81eb;
  border-bottom: 2px solid #4c81eb;
}

/* phones */
@media (min-width:320px) {
  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.7rem;
  }

}

/* desktops */
@media (min-width:961px) {
  h1 {
    font-size: 10rem;
  }
  p {
    font-size: 4rem;
  }
}
