html {
  overflow-x: hidden;
}

h1 {
  font-family: "Gilroy";
  color: #4c81eb;
  font-size: 10rem;
}

p {
  font-size: 4rem;
  font-family: "Andis";
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

a.btn {
  border-radius: 100px;
  background-color: #4c81eb;
  color: #f5f5f5;
  font-family: "Gilroy";
  padding: 2.5rem 4rem;
  border: 2px solid #4c81eb;
  transition: all 1s ease;
}

a.btn:hover {
  background: transparent;
  color: #4c81eb;
}

footer {
  color: #AAAAAA;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-family: "Gilroy";
  right: 5%;
  bottom: 5%;
}

footer a {
  color: #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer a:hover {
  color: #4c81eb;
  border-bottom: 2px solid #4c81eb;
}

@media (max-width: 540px) and (min-width: 400px){
  h1 {
    font-size: 5rem !important;
  }
  p {
    font-size: 2rem;
  }
  a.btn {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width:501px) and (max-width:999px) {
  p {
    font-size: 3rem;
  }
}
